.para {
  margin-bottom: 30px;
  color: rgb(80, 80, 80);
}
.wrapper {
  max-width: 600px;
  width: 100%;
  margin: 30px auto 0;
  padding: 10px;
}
.wrapper .form_container {
  background: #fff;
  padding: 30px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
.heading {
  background: #015a80;
  margin: -30px;
  text-align: center;
  color: white;
  font-size: 19px;
  margin-bottom: 35px;
  padding: 10px;
  border-radius: 15px 15px 0px 0px;
}
.wrapper .form_container .form_item {
  margin-bottom: 25px;
}

.form_wrap.fullname {
  display: flex;
}
.form_warp.address {
  display: flex;
}

.form_wrap.fullname .form_item {
  width: 50%;
}

.form_item input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dadce0;
  border-radius: 15px;
}

.form_item select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dadce0;
  border-radius: 15px;
}

.form_item Input:focus {
  border-color: #6271f0;
}

.btnDoc {
  background: #1598d4;
  border: 1px solid #1598d4;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  margin-bottom: 10px;
}

.btnDoc:hover {
  background: #002bc8;
}
